<section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..."
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">A. P. J. Abdul Kalam</h5>
                            <p class="card-text">There is a countless contribution of Dr. APJ Abdul Kalam to the country
                                but he was most famous for his greatest contribution that is the development of missiles
                                that goes by the name Agni and Prithvi.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div> 

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..."
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">A. P. J. Abdul Kalam</h5>
                            <p class="card-text">There is a countless contribution of Dr. APJ Abdul Kalam to the country
                                but he was most famous for his greatest contribution that is the development of missiles
                                that goes by the name Agni and Prithvi.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..."
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">A. P. J. Abdul Kalam</h5>
                            <p class="card-text">There is a countless contribution of Dr. APJ Abdul Kalam to the country
                                but he was most famous for his greatest contribution that is the development of missiles
                                that goes by the name Agni and Prithvi.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    