<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .heading{ text-align: center; margin-top: 45px; }
    </style>
  </head>
  <body>

    <section>

      <h3 class="heading">RESULT</h3>

      <div class="container mt-5">

        <table class="table  table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col">vote count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>virat</td>
              <td>criclet player</td>
              <td>5</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>messi</td>
              <td>football player</td>
              <td>6</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>sania mirsa</td>
              <td>badmenton player</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>

      </div>
    </section>

  </body>
</html>