
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <style>

    *{
      background-color: LightGray;
    }
    .heading{
        text-align: center;
        margin-top: 25px;
      }

  </style>
</head>
<body>
  

 <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-Dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/viewUser">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/addCandidates">Candidates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/result">Result</a>
                    </li>
            </div>
        
             <a class="nav-link active" aria-current="page" href="#">Signout</a>

        </div>
    </nav>
</header>

<section>

    <h3 class="heading">USERS</h3>
      <div class="container mt-5">

        <table class="table  table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
               <th scope="col">Image</th>
              <th scope="col">  Name</th>
              <th scope="col">Email</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>

            {{#each usersdata}}
            
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>

        {{#if this.blocked}}

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
  block
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <h5>Are you sure , You want to block the user</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>          

{{else}}





<!-- Button trigger modal -->
<a href="unblocked">
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
  unblock
</button>

</a>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure , You want to unblock the user</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"> Yes</button>
      </div>
    </div>
  </div>
</div>         
</td>
</tr>

{{/if}}
    {{/each}}
          </tbody>
        </table>
</body>
</html>