<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      *{ margin: 0; padding: 0; } body{ display: grid; place-items: center; }
      h1{ /* color: rgb(223, 155, 52); */ margin-top: 20vh; margin-bottom: 30px;
      } input{ font-size: 1rem; width: 300px; padding: 6px 2px; margin: 10px 0
      10px 0; } .sub{ background-color: rgba(50, 115, 220, 0.3); cursor:
      pointer; } form{ /* margin-top: 20vh; */ text-align: center; border: 5px
      solid rgb(50, 115, 220); padding: 20px; background-color: rgba(50, 115,
      220, 0.3);
    </style>

  </head>
  <body>

    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/signup" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Registration Information Here</legend>

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="first_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw" id="pw">
                </div>

                <div class="form-group">
                    <label for="pw_confirm">Confirm Password</label>
                    <input type="password" class="form-control" name="pw_confirm" id="pw_confirm">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

  </body>
</html>


